<tr>
  <td class="time-sheet-entry"><%= @time_sheet_entry.start_time %></td>
  <td class="time-sheet-entry"><%= @time_sheet_entry.end_time %></td>
  <td class="time-sheet-entry"><%= @time_sheet_entry.time_duration %></td>
</tr>